body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

div {
  text-align: center;
}

h2 {
  margin-top: 0;
  font-size: 72px;
  color: red;
  gap: 2rem;
}

a {
  font-size: 48px;
  margin: 10px 20px;
  text-decoration: none;
  color: #005dcf;
}

a:hover {
  color: darkblue;
}
