body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
}

div {
  text-align: center;
}

h2 {
  font-size: 64px;
  color: #721c24;
  padding: 20px;
  border-radius: 5px;
}

a {
  font-size: 48px;
  margin: 10px 20px;
  text-decoration: none;
  color: #009fcf;
}

a:hover {
  color: #0056b3;
}
